{% extends "base.html" %}

{% block title %}Add Artikel{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_article.css') }}">
{% endblock %}

{% block content %}
    <h2>Add Article</h2>
    <form method="POST" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>
        <br><br>

        <label for="content">Content:</label>
        <textarea id="content" name="content" required></textarea>
        <br><br>

        <label for="image">Image:</label>
        <input type="file" id="image" name="image">
        <br><br>

        <!-- Tambahkan Input Tanggal Pembuatan -->
        <label for="created_at">Tanggal Pembuatan:</label>
        <input type="datetime-local" id="created_at" name="created_at" required>
        <br><br>

        <button type="submit">Save</button>
    </form>

    <!-- CKEditor Script -->
    <script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content', {
            removePlugins: 'notification,notificationaggregator'
        });
    </script>
    
{% endblock %}
